<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{index}">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<article layout:fragment="content">
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="/index">Trang chủ</a></li>
                    <li><a href="#">Siêu giảm giá</a></li>
                    <li><a href="#">Loại sản phẩm</a></li>
                    <li><a href="#">Iphone</a></li>
                    <li><a href="#">Samsung</a></li>
                    <li><a href="#">Máy cũ</a></li>
                </ul>
                <div class="header-search">
                </div>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->

    <!-- BREADCRUMB -->
<!--    <div id="breadcrumb" class="section">-->
<!--        &lt;!&ndash; container &ndash;&gt;-->
<!--        <div class="container">-->
<!--            &lt;!&ndash; row &ndash;&gt;-->
<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    <ul class="breadcrumb-tree">-->
<!--                        <li><a href="#">Home</a></li>-->
<!--                        <li><a href="#">All Categories</a></li>-->
<!--                        <li><a href="#">Accessories</a></li>-->
<!--                        <li class="active">Headphones (227,490 Results)</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; /row &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /container &ndash;&gt;-->
<!--    </div>-->
    <!-- /BREADCRUMB -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->

            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Loại sản phẩm</h3>
                        <div class="checkbox-filter">

                            <div class="input-checkbox">
                                <input type="checkbox" id="category-1">
                                <label for="category-1">
                                    <span></span>
                                    Iphone
                                    <small>(120)</small>
                                </label>
                            </div>

                            <div class="input-checkbox">
                                <input type="checkbox" id="category-2">
                                <label for="category-2">
                                    <span></span>
                                    Samsung
                                    <small>(740)</small>
                                </label>
                            </div>

                            <div class="input-checkbox">
                                <input type="checkbox" id="category-3">
                                <label for="category-3">
                                    <span></span>
                                    Máy cũ
                                    <small>(1450)</small>
                                </label>
                            </div>


                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Giá tiền</h3>
                        <div class="price-filter">
                            <div id="price-slider"></div>
                            <div class="input-number price-min">
                                <input id="price-min" type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                            <span>-</span>
                            <div class="input-number price-max">
                                <input id="price-max" type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->

                    <!-- aside Widget -->
<!--                    <div class="aside">-->
<!--                        <h3 class="aside-title">Brand</h3>-->
<!--                        <div class="checkbox-filter">-->
<!--                            <div class="input-checkbox">-->
<!--                                <input type="checkbox" id="brand-1">-->
<!--                                <label for="brand-1">-->
<!--                                    <span></span>-->
<!--                                    SAMSUNG-->
<!--                                    <small>(578)</small>-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="input-checkbox">-->
<!--                                <input type="checkbox" id="brand-2">-->
<!--                                <label for="brand-2">-->
<!--                                    <span></span>-->
<!--                                    LG-->
<!--                                    <small>(125)</small>-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="input-checkbox">-->
<!--                                <input type="checkbox" id="brand-3">-->
<!--                                <label for="brand-3">-->
<!--                                    <span></span>-->
<!--                                    SONY-->
<!--                                    <small>(755)</small>-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="input-checkbox">-->
<!--                                <input type="checkbox" id="brand-4">-->
<!--                                <label for="brand-4">-->
<!--                                    <span></span>-->
<!--                                    SAMSUNG-->
<!--                                    <small>(578)</small>-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="input-checkbox">-->
<!--                                <input type="checkbox" id="brand-5">-->
<!--                                <label for="brand-5">-->
<!--                                    <span></span>-->
<!--                                    LG-->
<!--                                    <small>(125)</small>-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="input-checkbox">-->
<!--                                <input type="checkbox" id="brand-6">-->
<!--                                <label for="brand-6">-->
<!--                                    <span></span>-->
<!--                                    SONY-->
<!--                                    <small>(755)</small>-->
<!--                                </label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!-- /aside Widget -->

                    <!-- aside Widget -->

                    <div class="aside">
                        <h3 class="aside-title">Top bán chạy</h3>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product01.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Iphone</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product02.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Iphone</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product03.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Samsung</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->
                </div>
                <!-- /ASIDE -->

                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                Sắp xếp:
                                <select class="input-select">
                                    <option value="0"></option>

                                    <option>  <a
                                        th:href="@{'/pages/'+${currentPage}+'?sortField=name&sortDir='+${reverseSortDir}}"> Theo Tên</a> </option>
                                    <option value="1">Theo ngày</option>
                                </select>
                                <a
                                        th:href="@{'/pages/'+${currentPage}+'?sortField=name&sortDir='+${reverseSortDir}}"> Theo Tên</a>
                            </label>

                            <label>
                                Show:
                                <select class="input-select">
                                    <option value="0">20</option>
                                    <option value="1">50</option>
                                </select>
                            </label>
                        </div>
                        <ul class="store-grid">
                            <li class="active"><i class="fa fa-th"></i></li>
                            <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                        </ul>
                    </div>
                    <!-- /store top filter -->

                    <!-- store products -->
                    <div class="row">
                        <!-- product -->

<!--                            <td th:text="${product.id}"></td>-->
<!--                            <td th:text="${product.name}"></td>-->
<!--                            <td th:text="${product.price}"></td>-->
<!--                            <td th:text="${product.quantity}"></td>-->
<!--                            <td><a th:href="@{/product/edit/{id}(id=${product.id})}">Sua</a>-->
<!--                                <a th:href="@{/product/delete/{id}(id=${product.id})}"-->
<!--                                   onclick="return confirm('Are you sure?')"-->
<!--                                >Xoa</a>-->
<!--                            </td>-->
<!--                        </tr>-->

                            <tr th:each="product : ${listProduct}">
                                <div class="col-md-4 col-xs-6">
                                <div class="product">
                                    <div class="product-img">
                                        <img th:src="@{/img/{image}(image=${product.image})}"/>
                                        <div class="product-label">
                                            <span class="sale">-30%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Category</p>
                                        <h3 class="product-name"><a href="#"><a th:text="${product.name}"></a></a></h3>
                                        <h4 class="product-price"><a href="#"><a th:text="${product.price} "></a></a></h4>

                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <a th:href="@{/store/detail/{id}(id=${product.id})}" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></a>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <a class="add-to-cart-btn" th:href="@{/shoppingcart/add/{id} (id=${product.id})}"><i class="fa fa-shopping-cart"></i> add to cart</a>
                                    </div>
                                </div>

                    </div>

                    <!-- /store products -->

                    <!-- store bottom filter -->
<!--                    <div class="store-filter clearfix">-->
<!--                        -->
<!--                        <ul class="store-pagination">-->
<!--                            <li class="active">1</li>-->
<!--                            <li>2</li>-->
<!--                            <li><a href="#">3</a></li>-->
<!--                            <li><a href="#">4</a></li>-->
<!--                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->

                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
                    <div th:if="${totalPages > 1}">
                        <div class="row col-sm-10">
                            <div class="col-sm-2">
                                Total Rows: [[${totalItems}]]
                            </div>
                            <div class="col-sm-2">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a  th:if="${currentPage != i}" th:href="@{'/pages/' + ${i}+'?sortField='+${sortField}+'&sortDir='+${sortDir} +${keyword!= null ? '&keyword='+ keyword: ''}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
                        &nbsp;&nbsp; &nbsp;
					</span>
                            </div>
                            <div class="col-sm-1">
                                <a th:if="${currentPage < totalPages}"
                                   th:href="@{'/pages/' + ${currentPage + 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Next</a><span
                                    th:unless="${currentPage < totalPages}">Next</span>
                            </div>

                            <div class="col-sm-1">
                                <a th:if="${currentPage < totalPages}"
                                   th:href="@{'/pages/' + ${totalPages}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Last</a><span
                                    th:unless="${currentPage < totalPages}">Last</span>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->


</article>
</body>
</html>